{{ if $settings:personality == "casual" }}
<style>
    :root{
      --font-display: 'Sriracha', 'sans-serif' !important;
      /*--font-body: 'Sora', 'sans-serif' !important;*/
    }
</style>
<link href="https://fonts.googleapis.com/css2?family=Sriracha&family=Nunito:wght@300..700&display=swap" rel="stylesheet">
{{ /if }}

{{ if $settings:personality == "formal" }}
<style>
    :root{
      --font-display: 'Inter', 'sans-serif' !important;
      --font-body: 'Inter', 'sans-serif' !important;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.6.0/inter.min.css" rel="stylesheet">
{{ /if }}

